{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'myauth.css' %}">
{% endblock %}

{% block body %}
  <div>
    <img src="{{ user.myuser.photo }}" alt="">
    <h1>Welcome, {{ user.username }}!</h1>
    <h1>Your email is {{ user.email }}</h1>
    <a href="{% url 'myauth:logout' %}">
      <button class="btn btn-danger">Log Out</button>
    </a>
  </div>

{% endblock %}