{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'myauth.css' %}">
  <title>Auth Ala2</title>
{% endblock %}

{% block body %}
  <div>
    <a href="{% url 'myauth:signup' %}">
      <button type="button" class="btn btn-warning" id="signup-button">Sign Up</button>
    </a>
    <a href="{% url 'myauth:login' %}">
      <button type="button" class="btn btn-primary" id="login-button">Log In</button>
    </a>
  </div>
{% endblock %}