{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'myauth.css' %}">
{% endblock %}

{% block body %}

  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <script>
          alert("{{ message }}")
        </script>
      {% endfor %}
    </ul>
  {% endif %}

  <div id="form">
    <h3>Sign Up Form</h3>
    <form action="" method="POST">
      {% csrf_token %}
      <p class="p-row">
        <label for="email">Email: </label>
        <input id="email" name="email" type="email" required> <br/>
      </p>
      <p class="p-row">
        <label for="photo">Photo Link: </label>
        <input id="photo" name="photo" type="url" required> <br/>
      </p>
      <p class="p-row">
        <label for="username">Username: </label>
        <input id="username" name="username" type="text" required> <br/>
      </p>

      <p class="p-row">
        <label for="password">Password: </label>
        <input id="password" name="password" type="password" required> <br/>
      </p>
      <p class="p-row">
        <br/>
        <a href="{% url 'myauth:login' %}">
          <input type="button" class="btn btn-primary" value="Login">
        </a>
        <input type="submit" value="Sign Up" class="btn btn-warning" id="signup-submit">
      </p>
    </form>
  </div>
{% endblock %}