body {
    background-color: black;
    color: bisque;
}
#main{
    margin: auto;
    margin-top: 100px;
    max-width: 400px;
}

.accordion{
    border: 2px solid #ec5136;
}

.accordion .accordion-content {
    display: none;
}

.profile .accordion-content {
    display: block;
}

img {
    width: 20px;
}

.accordion-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #ec5136;
    background-color: #bb1610;
}
.buttons {
    margin-left: auto;
    margin-right: 0;
}

button {
    background-color: salmon;
}

#style-modifier {
    color: #212529;
    background-color: #d39e00;
    border-color: #c69500;
    padding: 5px;
    border-radius: 25px;
}

.center {
    text-align: center;
    padding: 10px;
}

.new-bar {
    background-color: #49afa9;
    border-color: #10707f;
}

.new-accordion {
    border-color: #10707f;
}

.new-body {
    background-color: white!important;
    color: black;
}
.new-button {
    background-color: #10707f;
}