body {
    background-color: #1F6DC7;
    color: white;
}

.container {
    width: 1000px;
    margin: auto;
}

table, tr, td, th {
    border: 1px solid whitesmoke;
    text-align: center;
}

.book-cover {
    width: 150px;
}

.modal-content {
    background-color: rgb(14, 53, 98)!important;
}

.modal-body {
    background-color: #1F6DC7;
}

.thumblike {
    width: 50px;
}