body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
    font-size: xx-large!important;
    font-weight: 500!important;
    width: 11vmax;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px!important;
}

div {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: space-around;
    text-align: center;
}

input {
    margin-left: 20px;
}

form {
    display: table;
}

.p-row {
    display: table-row;
}

label, input {
    display: table-cell!important;
}

img {
    height: 25vh;
    border: 4px solid bisque;
    border-radius: 15px;
}