{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'accordion.css' %}">
  <title>Alcordion</title>
</head>
<body>
  <div id="main">
    <div class="accordion profile">
      <div class="accordion-bar">
        Profil
        <div class="buttons">
          <button class="up">
            <img src="{% static 'up.png' %}" alt="">
          </button>
          <button class="down">
            <img src="{% static 'down.png' %}" alt="">
          </button>
        </div>
      </div>
      <div class="accordion-content">
        <table>
          <tr>
            <td>Nama</td>
            <td> : Aldi Naufal Fitrah</td>
          </tr>
          <tr>
            <td>Pendidikan</td>
            <td> : Universitas Indonesia</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="accordion activity">
      <div class="accordion-bar">
        Aktivitas saat ini
        <div class="buttons">
          <button class="up">
            <img src="{% static 'up.png' %}" alt="">
          </button>
          <button class="down">
            <img src="{% static 'down.png' %}" alt="">
          </button>
        </div>
      </div>
      <div class="accordion-content" style="display: none;">
        <ul>
          <li>nugas</li>
          <li>stress</li>
          <li>nugas lagi</li>
          <li>ngerjain linebot</li>
          <li>nugas terus</li>
          <li>buat scele notifier</li>
        </ul>
      </div>
    </div>
    <div class="accordion organization">
      <div class="accordion-bar">
        Pengalaman Organisasi
        <div class="buttons">
          <button class="up">
            <img src="{% static 'up.png' %}" alt="">
          </button>
          <button class="down">
            <img src="{% static 'down.png' %}" alt="">
          </button>
        </div>
      </div>
      <div class="accordion-content">
        <ul>
          <li>Pemira Fasilkom</li>
          <li>BEM Fasilkom</li>
          <li>FUKI Fasilkom</li>
        </ul>
      </div>
    </div>
    <div class="accordion achievement">
      <div class="accordion-bar">
        Prestasi
        <div class="buttons">
          <button class="up">
            <img src="{% static 'up.png' %}" alt="">
          </button>
          <button class="down">
            <img src="{% static 'down.png' %}" alt="">
          </button>
        </div>
      </div>
      <div class="accordion-content">
        <ul>
          <li>Juara 1 Kahoot ITF Grand Opening FUKI 2020</li>
          <li>Juara 1 Games sore2 Raker BEM Fasilkom 2020</li>
          <li>Juara 2 Kahoot Raker BEM Fasilkom 2020</li>
          <li>Pemenang Mammamia SBF dan BEM Fasilkom 2020</li>
        </ul>
      </div>
    </div>
    <div class="center">
      <button id="style-modifier">Bosen ah sama warnanya</button>
    </div>
  </div>
  <script src="{% static 'jquery-3.5.0.min.js' %}"></script>
  <script src="{% static 'accordion.js' %}"></script>
</body>
</html>