{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bookybase</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'book.css' %}">
  
</head>
<body>
  <input type="text" name="keyword" id="search-box">
  <button id="search-button">Cari</button>

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary modal-button" data-toggle="modal" data-target="#exampleModalCenter">
    See Top 5 Books
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Top 5 Books all the time</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img id="modal-loader" src="{% static 'book-loader.gif' %}" alt="">
          <table id="modal-table" style="display: none">
            <tr>
              <th>Cover</th>
              <th>Title</th>
              <th>Author</th>
              <th>Publisher</th>
              <th>Likes</th>
            </tr>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <img id="loader" src="{% static 'book-loader.gif' %}" alt="">
    <table id="main-table" style="display: none">
      <tr>
        <th>Cover</th>
        <th>Title</th>
        <th>Author</th>
        <th>Publisher</th>
        <th>Action</th>
      </tr>
      <tr class="not-found" style="display: none;">
        <td><img src="{% static 'default-cover.jpg' %}" alt=""></td>
        <td>Not Found</td>
        <td>Not Found</td>
        <td>Not Found</td>
        <td>Not Found</td>
      </tr>
    </table>
  </div>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="{% static 'jquery-3.5.0.min.js' %}"></script>
  <script>
    const default_cover = "{% static 'default-cover.jpg' %}";
    const get_books_url = "{% url 'book:get_books' %}?keyword=";
    const add_likes_url = "{% url 'book:add_likes' %}";
    const get_top5_url = "{% url 'book:get_top5' %}";
    const thumblike = "{% static 'thumblike.png' %}";
  </script>
  <script src="{% static 'book.js' %}"></script>
</body>
</html>