<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation page</title>
</head>
<body>
    <form action="{% url 'pewforum:index' %}" method="post">
        {% csrf_token %}
        <label for="id_name">Name: </label>
        <input type="text" name="name" id="id_name" value="{{ name }}" readonly>

        <label for="id_status">Status: </label>
        <textarea name="status" id="id_status" cols="40" rows="10" readonly>{{ status }}</textarea>

        <input type="submit" value="Post it!" id="yes">
    </form>
    <a href="{% url 'pewforum:index' %}"><button>Cancel</button></a>
</body>
</html>