<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>enViralle</title>
</head>
<body>
  <form action="{% url 'pewforum:confirm' %}" method="post">
    {% csrf_token %}
    <label for="id_name">Name: </label>
    <input type="text" name="name" id="id_name" placeholder="Enter your name" required>
    
    <label for="id_status">Status: </label>
    <textarea name="status" cols="40" rows="10" id="id_status" placeholder="What do you want to share?" required></textarea>
    
    <input type="submit" value="Post it!">
  </form>
  {% for data in datas %}
  <div id="status-wrapper" style="border: 2px solid black; width: fit-content; background-color: {{ data.color }};">
    <a href="{% url 'pewforum:change_color' data.id %}" style="text-decoration: none; color: black;">
      {{ data.author }}: {{data.topic}}
    </a>
  </div>
  {% endfor %}
</body>
</html>